@charset "UTF-8";

/* 忘记密码*/
html {height: 100%}
body {
    background: #f9fafb url("../../../src/assets/img/password/back-01.png");
    height:100%;
    /*overflow: hidden;*/
}
.passport-wrapper {
    width: 1000px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 20px;
    
}
.passport-header {
    margin-bottom: 30px;
}
.logo{
    width: 273px;
    height: 40px;
    margin: auto;
}
.logo a{
    float: left;
    width: 273px;
    height: 40px;
    background: url("../../../src/assets/img/login/img.png") left -5px  no-repeat;
}
.passport-forget {
    padding: 25px 0;
    background-color: #fff;
    min-height: 450px;
    /*border:1px solid #98b4c4;*/
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 3px #98b4c4;
    -moz-box-shadow: 0px 2px 3px #98b4c4;
    -webkit-box-shadow: 0px 2px 3px #98b4c4;
}
.passport-forget .passport-step {
    margin: 40px auto 20px;
    width: 485px;
}
.passport-forget .passport-form {
    padding: 30px 0;
    width: 400px;
    margin: auto;
}
.float-right{float: right}
.btn-login {
    color: #00a2ca;
}
.btn-login:hover {
    text-decoration:underline;
}

.Y_btn_b 
{
    display: inline-block;
    border: 1px solid #d9d9d9;    
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f2f2f2;        
}
.Y_btn_b span
{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 3px 15px!important; 
    width: 86px;
    text-align: center;
    color: #666;
    border: 1px solid #ffffff;
    border-radius: 2px;
    white-space: nowrap;
}
 .Y_btn_b:hover, .Y_btn_b:hover span 
 {
    text-decoration: none;
    background: rgb(255,184,71);
    background: -moz-linear-gradient(top, rgba(255,184,71,1) 0%, rgba(255,162,16,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,184,71,1)), color-stop(100%,rgba(255,162,16,1)));
    background: -webkit-linear-gradient(top, rgba(255,184,71,1) 0%,rgba(255,162,16,1) 100%);
    background: -o-linear-gradient(top, rgba(255,184,71,1) 0%,rgba(255,162,16,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,184,71,1) 0%,rgba(255,162,16,1) 100%);
    background: linear-gradient(top bottom, rgba(255,184,71,1) 0%,rgba(255,162,16,1) 100%);
}
.Y_btn_b:hover 
{
    border: 1px solid #ff9b01;
    background-color: #ffa00a;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
}    
.Y_btn_b:hover span
{ 
    border:1px solid #ffce82; 
    color:#fff;
}

.btn_disable_gray
{
    border: 1px solid #d9d9d9;    
    background-color: #f2f2f2;       
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display:none;

}
.btn_disable_gray span
{    
    padding: 3px 15px!important;    
    width: 86px;
    border: 1px solid #ffffff;    
    color: #666;
    cursor: default;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    border-radius: 2px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
}